* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

img {
  max-width: 100%;
  height: auto;
}

i {
  pointer-events: none;
}

body {
  background-color: #001220;
}

#navbar {
  font-size: 1.2rem;
  color: #C62368;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #001220;
  box-shadow: black 0px 20px 30px -10px;
}
#navbar h2 {
  font-family: "Dancing Script";
}
#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul li {
  display: inline;
  padding: 1rem;
  font-size: 1.2rem;
  color: #c41d1d;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  transition: 250ms;
}
#navbar ul li a:hover {
  color: #abc1ff;
}
#navbar #mobile-nav-btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2.9rem;
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  color: #C62368;
  display: none;
  transition: 250ms;
}
#navbar #mobile-nav-btn:hover {
  color: #566bf2;
}

#mobile-nav-menu {
  height: 100vh;
  overflow: hidden;
  background-color: #001220;
  font-size: 2rem;
  top: 100px;
  z-index: 4;
  position: absolute;
  transition: 250ms;
  width: 0%;
}
#mobile-nav-menu ul li {
  color: yellow;
  list-style-type: none;
  padding: 1.5rem;
}
#mobile-nav-menu ul li h2 {
  color: #C62368;
}
#mobile-nav-menu ul li a {
  color: white;
  text-decoration: none;
}
#mobile-nav-menu ul li a:hover {
  color: #abc1ff;
}

#mobile-nav-exit {
  display: none;
  height: 50px;
  width: 50px;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  color: #C62368;
  cursor: pointer;
  transition: 250ms;
}
#mobile-nav-exit:hover {
  color: #566bf2;
}

.activate {
  width: 100%;
}

#heroBG {
  position: absolute;
  z-index: -3;
  aspect-ratio: 960/500;
  width: 100vw;
  min-height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./svg/heroBG2.svg");
}

#hero {
  display: flex;
  justify-content: center;
  min-height: 500px;
  gap: 15%;
  color: white;
  margin-top: 1%;
  padding: 3rem;
}
#hero .hero-item:nth-of-type(2) {
  align-self: center;
}
#hero .hero-item:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 1.5rem;
}
#hero .hero-item:nth-of-type(1) h1#showcase {
  font-family: "Dancing Script";
  color: #C62368;
  font-size: 5rem;
  text-shadow: -3px -1px 16px #C62368;
}
#hero .hero-item:nth-of-type(1) #contact-btn {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  color: white;
  background-color: #566bf2;
  transition: 250ms;
  cursor: pointer;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#hero .hero-item:nth-of-type(1) #contact-btn:hover {
  background-color: #abc1ff;
}
#hero .hero-item:nth-of-type(1) #stat-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
#hero .hero-item:nth-of-type(1) #stat-container img {
  height: 50px;
  cursor: pointer;
  background-color: #C62368;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#hero-img {
  min-height: 500px;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15% 35%;
  border: 5px solid #C62368;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#about {
  z-index: 3;
  aspect-ratio: 960/300;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./svg/aboutBG.svg");
  padding: 2rem;
}
#about #about-flex-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70vw;
  gap: 5rem;
  color: white;
  margin-top: 15%;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) h1 {
  font-size: 2.8rem;
  font-family: "Dancing Script";
  color: #C62368;
  text-shadow: -3px -1px 16px #C62368;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) article {
  height: 300px;
  border-bottom: 2px solid #C62368;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) article img {
  height: 60px;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) article .skills-image {
  padding: 0.5rem;
  margin: 0 auto;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) article .article-information {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) article .article-information .preprocessor-imgs {
  height: 40px;
  width: 40px;
}

.section-header {
  color: #abc1ff;
  font-size: 1.5rem;
}

#projects {
  z-index: 2;
  aspect-ratio: 960/500;
  width: 100vw;
  min-height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./svg/projects.svg");
  padding: 2rem;
  color: white;
  z-index: 3;
}

@media (max-width: 1110px) {
  #navbar {
    justify-content: space-between;
  }
  #navbar h3 {
    font-size: 1.5rem;
  }
  #navbar #nav-list {
    display: none;
  }
  #navbar #mobile-nav-btn {
    display: block;
  }
  #hero {
    margin-bottom: 20%;
  }
  #hero .hero-item:nth-child(1) {
    max-width: 500px;
    text-align: center;
  }
  #hero #contact-btn {
    margin: 0 auto;
    align-self: center;
  }
  #hero .hero-item:nth-child(2) {
    position: absolute;
    opacity: 0.3;
    z-index: -3;
    max-width: 100%;
  }
  #hero #stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #heroBG {
    background-image: url("./svg/mobileHeroBG.svg");
  }
  #about {
    background-image: url("./svg/mobileAboutBG.svg");
  }
  #about #about-flex-wrapper {
    width: 90vw;
    margin-top: 40%;
  }
  #about #about-flex-wrapper .section-header {
    color: yellow;
    text-align: center;
    font-size: 2rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) article {
    width: 100%;
    text-align: center;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(1) h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(1) p {
    text-align: center;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=styles.css.map */