$primary: #C62368;
$secondary: #566bf2;
$accent: #abc1ff;
$background: #001220;

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "comfortaa";
}

img {
    max-width: 100%;
    height: auto;

}

body {
    background-color: $background;
}


// NAVBAR 

#navbar {
    font-size: max(1rem, 1.6rem);
    color: $primary;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    margin-bottom: 2rem;

    h2 {
        font-family: 'Dancing Script';
    }
    
    ul {
        
        li {
            display: inline;
            padding: 1rem;
            font-size: max(1rem, 1.6rem);
            color: #c41d1d;
            
            a {
                text-decoration: none;
                color: white;
                transition: 250ms;
                
                &:hover {
                    color: $accent;
                }
                
            }
            
        }
    }

    #mobile-nav-btn {
        height: 50px;
        width: 50px;
        cursor: pointer;
        font-size: 2.9rem;
        border-radius: 0.3rem;
        border: none;
        background-color: transparent;
        color: $primary;
        display: none;
        transition: 250ms;

        &:hover {
            color: #566bf2;
        }
        
    }
}

// MOBILE NAV MENU

#mobile-nav-menu {
    height: 100vh;
    width: 0;
    background-color: $background;
    font-size: 2rem;
    padding: 1.5rem;

    // the menu will activate by added a clas that has the opposite of these styles
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: block;
        
    ul {
        li {
            list-style-type: none;
            padding: 1.5rem;

            h2 {
                color: $primary;
            }
            
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: $accent;
                }
            }
        }
    }
}



// HERO BACKGROUND IMAGE 

#heroBG {
    position: absolute;
    z-index: -3;
    aspect-ratio: 960/500;
    width: 100vw;
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./svg/heroBG2.svg');
}


// HERO SECTION 

#hero {
    display: flex;
    justify-content: center;
    min-height: 600px;
    gap: 15%;
    color: white;
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 3rem;
    
    .hero-item:nth-of-type(2) {
        align-self: center;
    }
    
    // Flex item that contains the greeting and name
    .hero-item:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        white-space: nowrap;
        
        justify-content: center;
        font-size: clamp(0.6rem, 3vw, 2rem);
        // text-align: center;
        
        h1 {
            span {
                font-family: 'Dancing Script';
                border-bottom: 4px solid $primary;
                color: $primary;
            }
        }
        h3 {
            span {
                color: $secondary;
                
            }
        }

        #contact-btn {
            padding: 1rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 1rem;
            color: white;
            background-color: $secondary;
            transition: 250ms;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            &:hover {
                background-color: $accent;
            }
        }
        
    }
}

#hero-img {
    max-height: 500px;
    opacity: 0.7;
    border-radius: 15% 35%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



// about section 
#about {
    z-index: 3;
    aspect-ratio: 960/500;
    width: 100vw;
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./svg/aboutBG.svg');
    padding: 2rem;

    #about-flex-wrapper {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 70vw;
        gap: 5rem;
        color: white;
        margin-top: 15%;

        .section-header {
            color: yellow;
            font-size: 1.5rem;
        }

        .about-item:nth-of-type(1) {
            color: white;
            font-size: 1.5rem;
            line-height: 1.5;
            
            h1 {
                font-size: clamp(2rem, 2.8rem, 3rem);
                font-family: "Dancing Script";
                color: $primary;
            }

        }
        
        // skills icons
        .about-item:nth-of-type(2){
            article {
                height: 300px;
                border-bottom: 2px solid $primary;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                // all images in the skill boxes
                img {
                    height: clamp(40px, 60px, 120px);
                }

                .skills-image {
                    padding: 0.5rem;
                    margin: 0 auto;
                }

                .article-information {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    gap: 1rem;

                    // sass icon
                    .preprocessor-imgs {
                        height: 40px;
                        width: 40px;
                    }

                    #react-projects {
                        padding: 1rem;
                        border: none;
                        background: rgb(0,104,179);
                        cursor: pointer;
                        border-radius: 0.5rem;
                        transition: 250ms;
                        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                        
                        &:hover {
                            background-color: #566bf2;
                        }
                        
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }

                    #bs-projects {
                        padding: 1rem;
                        border: none;
                        background: rgb(101, 0, 179);
                        cursor: pointer;
                        border-radius: 0.5rem;
                        transition: 250ms;
                        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                        
                        &:hover {
                            background-color: #566bf2;
                        }
                        
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.5rem;
        }
    }
    
}


@media (max-width: 1110px) {

    // NAVBAR RESPONSIVENESS
    
    #navbar {
        justify-content: space-between;
        
        h3 {
            font-size: 1.5rem;
            
        }
        
        #nav-list {
            display: none;
        }

        #mobile-nav-btn {
            display: block;
        }
    }

    //HERO RESPONSIVENESS

    #hero {
        .hero-item:nth-child(1){
            max-width: 500px;
            text-align: center;
            white-space: nowrap;
        }

        .hero-item:nth-child(2){
            // display: none;
            position: absolute;
            opacity: 0.3;
            z-index: -3;
            max-width: 100%;
        }
    }

    #heroBG {
        background-image: url('./svg/mobileHeroBG.svg');

    }

    // ABOUT RESPONSIVENESS

    #about {

        #about-flex-wrapper {
            width: 90vw;
            .section-header {
                color: yellow;
                text-align: left;
                font-size: 2rem;
            }

            .about-item:nth-of-type(2){
                display: flex;
                flex-direction: column;
                gap: 3rem;

                article {
                    width: 100%;
                    text-align: center;
                }

               
                
            }

            .about-item:nth-of-type(1){
                display: flex;
                flex-direction: column;
                gap: 3rem;

                h1 {
                    font-size: max(1rem, 2.5rem);
                    font-weight: bolder;
                    text-align: center;
                }

                p {
                    text-align: center;
                    overflow-wrap: break-word;
                }
                
                font-size: clamp(1rem, 1.5rem, 2.5rem);
            }
            
        }
    }
    
    
}