* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

img {
  max-width: 100%;
  height: auto;
}

i {
  pointer-events: none;
}

body {
  background: linear-gradient(90deg, #1b0b20, #2f0246);
}

html {
  scroll-behavior: smooth;
}

.social-media {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  background-color: transparent !important;
  color: #c62368;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
.social-media:hover {
  color: #abc1ff;
}

#navbar {
  font-size: 0.9rem;
  color: #c62368;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 3rem;
  background-color: #1d0a23;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#navbar h2 {
  font-size: 1.8rem;
  font-family: "Dancing Script";
  text-shadow: -3px -1px 16px #c62368;
}
#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul li {
  display: inline;
  color: #c41d1d;
  margin-inline: 1.2rem;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  transition: 250ms;
}
#navbar ul li a:hover {
  color: #abc1ff;
}
#navbar #mobile-nav-btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2.9rem;
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  color: #c62368;
  display: none;
  transition: 250ms;
}
#navbar #mobile-nav-btn:hover {
  color: #566bf2;
}

#mobile-nav-menu {
  height: 100vh;
  overflow: hidden;
  background-color: #001220;
  font-size: 2rem;
  top: 100px;
  z-index: 4;
  position: absolute;
  transition: 250ms;
  width: 0%;
}
#mobile-nav-menu ul li {
  color: yellow;
  list-style-type: none;
  padding: 1.5rem;
}
#mobile-nav-menu ul li h2 {
  color: #c62368;
}
#mobile-nav-menu ul li a {
  color: white;
  text-decoration: none;
}
#mobile-nav-menu ul li a:hover {
  color: #abc1ff;
}

#mobile-nav-exit {
  display: none;
  height: 50px;
  width: 50px;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  color: #c62368;
  cursor: pointer;
  transition: 250ms;
}
#mobile-nav-exit:hover {
  color: #566bf2;
}

.activate {
  width: 100%;
}

#hero {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  gap: 5%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("svg/hero.svg");
}
#hero .hero-item:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-inline: 2rem;
  text-align: center;
}
#hero .hero-item:nth-of-type(1) h1#showcase {
  font-family: "Dancing Script";
  color: #c62368;
  font-size: 5rem;
  text-shadow: -3px -1px 16px #c62368;
}
#hero .hero-item:nth-of-type(1) #contact-btn {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  transition: 250ms;
  cursor: pointer;
  height: 50px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #c62368;
}
#hero .hero-item:nth-of-type(1) #contact-btn a {
  text-decoration: none;
  color: white;
}
#hero .hero-item:nth-of-type(1) #contact-btn:hover {
  background-color: #001220;
}
#hero .hero-item:nth-of-type(1) #stat-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
#hero .hero-item:nth-of-type(1) #stat-container img {
  height: 50px;
  cursor: pointer;
  background-color: #c62368;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background: rgb(198, 35, 104);
  transition: 250ms;
}
#hero .hero-item:nth-of-type(1) #stat-container img:hover {
  background-color: #abc1ff;
  height: 55px;
}

#hero-img {
  min-height: 500px;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #c62368;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#about {
  z-index: 5;
  aspect-ratio: 960/300;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("svg/blurry-gradient-haikei.svg");
  padding: 2rem;
  box-shadow: #c62368 102px 22px 100px 100px;
}
#about #about-flex-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  width: 85vw;
  gap: 5rem;
  color: white;
}
#about #about-flex-wrapper .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
#about #about-flex-wrapper .skills .section-header {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border-bottom: black 2px solid;
  font-size: 1rem;
}
#about #about-flex-wrapper .skills .skills-wrapper {
  display: flex;
  gap: 0.5rem;
}
#about #about-flex-wrapper .skills .skills-wrapper .skills-img {
  height: 2.5rem;
  transition: 250ms;
}
#about #about-flex-wrapper .skills #group-buttons button {
  color: white;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #2f0246;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
#about #about-flex-wrapper .skills #group-buttons button:hover {
  background-color: #c62368;
  height: 2.6rem;
}
#about #about-flex-wrapper .skills:nth-of-type(2) {
  width: 600px;
}
#about #about-flex-wrapper .skills:nth-of-type(2) h1 {
  color: #c62368;
  border-bottom: #c62368 2px solid;
  font-size: 2rem;
  text-shadow: -3px -1px 16px #c62368;
}
#about #about-flex-wrapper .skills:nth-of-type(2) p {
  line-height: 1.5;
  text-align: center;
  font-size: 1.3rem;
}

#projects {
  z-index: 1;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./svg/stacked-waves-haikei.svg");
  padding: 4rem;
  color: white;
  box-shadow: #c62368 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
#projects #project-title {
  color: #c62368;
  border-bottom: #c62368 2px solid;
  font-size: 2rem;
  text-shadow: -3px -1px 16px #c62368;
}
#projects #project-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#projects #project-wrapper #project-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem;
  row-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  cursor: pointer;
}
#projects #project-wrapper #project-grid-container .project-section {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  transition: 450ms;
  overflow: hidden;
}
#projects #project-wrapper #project-grid-container .project-section:hover {
  width: 220px;
  height: 220px;
}
#projects #project-wrapper #project-grid-container .project-section:hover .projectIcon {
  position: absolute;
  left: 50px;
  top: 50px;
}
#projects #project-wrapper #project-grid-container .projectIcon {
  transition: 450ms;
  position: absolute;
  left: 50px;
  top: 100px;
}
#projects #project-wrapper #project-grid-container .project-section:nth-of-type(1) {
  background: rgb(2, 0, 36);
  background: linear-gradient(170deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 54%, rgb(0, 212, 255) 100%);
  box-shadow: rgb(9, 9, 121) 0px 20px 30px -10px;
  color: white;
}
#projects #project-wrapper #project-grid-container .project-section:nth-of-type(2) {
  background: rgb(131, 58, 180);
  background: linear-gradient(174deg, rgb(131, 58, 180) 0%, rgb(255, 34, 34) 50%, rgb(252, 176, 69) 100%);
  box-shadow: rgb(255, 34, 34) 0px 20px 30px -10px;
}
#projects #project-wrapper #project-grid-container .project-section:nth-of-type(3) {
  box-shadow: rgb(152, 150, 241) 0px 20px 30px -10px;
  background: rgb(142, 246, 228);
  background: linear-gradient(174deg, rgb(142, 246, 228) 0%, rgb(152, 150, 241) 50%, rgb(213, 155, 246) 100%);
  color: white;
  position: relative;
}

footer {
  position: absolute;
  width: 95%;
  padding: 1rem;
  min-height: 100px;
  display: grid;
  justify-content: left;
  place-items: center;
  border-top: #003a67 2px solid;
  margin-top: 2rem;
  height: 100px;
}
footer div {
  display: flex;
}

#contact-container {
  max-width: 100%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}
#contact-container h1 {
  text-align: left;
  color: white;
}
#contact-container #form-container {
  background-color: #123;
  height: 500px;
  width: 600px;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#contact-container #form-container #contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}
#contact-container #form-container #contact-form .contact-component label {
  color: white;
}
#contact-container #form-container #contact-form .contact-component #contact-message {
  height: 100px;
  width: 100%;
}
#contact-container #form-container #contact-form .contact-component input {
  height: 30px;
  width: 100%;
}
#contact-container #form-container #contact-form .contact-component button {
  height: 30px;
  padding: 0.5rem;
  width: 200px;
  background-color: #c62368;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 250ms;
}
#contact-container #form-container #contact-form .contact-component button:hover {
  background-color: #222;
}

@media (max-width: 992px) {
  #navbar {
    justify-content: space-between;
    background-color: rgba(0, 18, 32, 0.9);
  }
  #navbar h2 {
    font-size: 2rem;
  }
  #navbar #nav-list {
    display: none;
  }
  #navbar #mobile-nav-btn {
    display: block;
  }
  #hero .hero-item:nth-child(1) {
    max-width: 500px;
    text-align: center;
    z-index: 2;
    margin-inline: 0%;
  }
  #hero #contact-btn {
    margin: 0 auto;
    align-self: center;
  }
  #about #about-flex-wrapper {
    width: 90vw;
    flex-direction: column;
  }
  #about #about-flex-wrapper .skills .section-header {
    color: #abc1ff;
    text-align: center;
    color: white;
  }
  #about #about-flex-wrapper .skills #group-buttons button {
    background-color: #c62368;
  }
  #about #about-flex-wrapper .skills #group-buttons button:hover {
    background-color: #1d0a23;
  }
  #about #about-flex-wrapper .skills:nth-of-type(2) div p {
    color: rgb(0, 225, 255);
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) p {
    text-align: center;
    font-size: 1.2rem;
  }
  #projects #project-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  #projects #project-wrapper #project-grid-container {
    grid-template-columns: 1fr;
    padding: 4rem;
  }
  #about #about-flex-wrapper .skills .skills-wrapper .skills-img {
    height: 1.2rem;
  }
}
@media (max-width: 640px) {
  #projects #project-wrapper #project-grid-container {
    grid-template-columns: 1fr, 1fr;
    padding: 4rem;
  }
  #about #about-flex-wrapper .skills .skills-wrapper .skills-img {
    height: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */