// $primary: #ff2d85;
$primary: #c62368;
$secondary: #566bf2;
$accent: #abc1ff;
$backgroundSkill: #003a67;
$background: #001220;
$primaryPurple: #1d0a23;
$secondaryPurple: #2e0245;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

img {
  max-width: 100%;
  height: auto;
}

i {
  pointer-events: none;
}

body {
  // background-color: $background;
  background: -webkit-linear-gradient(90deg, #1b0b20,#2f0246);background: linear-gradient(90deg, #1b0b20,#2f0246);
}

html {
  scroll-behavior: smooth;
}

@mixin button {
    height: 40px;
    width: 200px;
    background-color: $accent;
}

.social-media {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  background-color: transparent !important;
  color: $primary;
  border: none;
  cursor: pointer;
  transition: 250ms;

  &:hover {
    color: $accent;
  }
}

// NAVBAR

#navbar {
  font-size: max(0.6rem, 0.9rem);
  color: $primary;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 3rem;
  background-color: #1d0a23;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  h2 {
    font-size: max(1.3rem, 1.8rem);
    font-family: "Dancing Script";
    // padding: 1rem;
    text-shadow: -3px -1px 16px $primary;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      display: inline;
      // padding: 1rem;
      color: #c41d1d;
      margin-inline: 1.2rem;

      a {
        text-decoration: none;
        color: white;
        transition: 250ms;

        &:hover {
          color: $accent;
        }
      }
    }
  }

  #mobile-nav-btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 2.9rem;
    border-radius: 0.3rem;
    border: none;
    background-color: transparent;
    color: $primary;
    display: none;
    transition: 250ms;

    &:hover {
      color: #566bf2;
    }
  }
}

// MOBILE NAV MENU

#mobile-nav-menu {
  height: 100vh;
  overflow: hidden;
  background-color: $background;
  font-size: 2rem;
  top: 100px;
  z-index: 4;
  position: absolute;
  transition: 250ms;
  width: 0%;

  ul {
    li {
      color: yellow;
      list-style-type: none;
      padding: 1.5rem;

      h2 {
        color: $primary;
      }

      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $accent;
        }
      }
    }
  }
}

#mobile-nav-exit {
  display: none;
  height: 50px;
  width: 50px;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  color: $primary;
  cursor: pointer;
  transition: 250ms;

  &:hover {
    color: $secondary;
  }
}

.activate {
  width: 100%;
}

// HERO SECTION

#hero {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  gap: 5%;
  color: white;

  // ! BACKGROUND SWIRL IN QUESTION
  // background swirl
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("svg/hero.svg");

  // Flex item that contains the greeting and name
  .hero-item:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-inline: 2rem;
    text-align: center;

    h1#showcase {
      font-family: "Dancing Script";
      color: $primary;
      font-size: 5rem;
      text-shadow: -3px -1px 16px $primary;
    }

    #contact-btn {
      padding: 1rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 0.5rem;
      color: white;
      transition: 250ms;
      cursor: pointer;
      height: 50px;
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      // margin: 0 auto;
      background: $primary;

      a {
        text-decoration: none;
        color: white;
      }

      &:hover {
        background-color: $background;
      }
    }

    #stat-container {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      img {
        height: 50px;
        cursor: pointer;
        background-color: $primary;
        padding: 0.3rem;
        border-radius: 0.3rem;
        background: rgb(198, 35, 104);
        transition: 250ms;

        &:hover {
          background-color: $accent;
          height: 55px;
        }
      }
    }
  }

}

#hero-img {
  min-height: 500px;
  opacity: 0.9;
  object-fit: cover;
  // border-radius: 15% 35%;
  // transform: skew(-10deg);
  border: 5px solid $primary;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  #hero-canvas {
    // display: flex;
  }
  
  
  // about section
  #about {
  z-index: 5;
  aspect-ratio: 960/300;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("svg/blurry-gradient-haikei.svg");
  padding: 2rem;
  box-shadow: $primary 102px 22px 100px 100px;

  
  #about-flex-wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    width: 85vw;
    gap: 5rem;
    color: white;
    // margin-top: 10%;

    // first skills container contains all the images of the skills i know
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      
      .section-header {
        color: black;
        font-size: 1.5rem;
        letter-spacing: 3px;
        border-bottom: black 2px solid;
        font-size: 1rem;
      }
      
      
      .skills-wrapper {
        display: flex;
        gap: 0.5rem;
        
        .skills-img {
          height: 2.5rem;
          transition: 250ms;
          
        }
        
        
      }

      @mixin group-btns {
        color: white;
        height: 2.5rem;
        padding: 0.5rem;
        background-color: #2f0246;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: 250ms;
        
        &:hover {
          background-color: #c62368;
          height: 2.6rem;
        }
      }
      
      #group-buttons {
        button {
          @include group-btns;
        }
      }
      
    }
    
    .skills:nth-of-type(2) {
      width: min(600px, 700px);
      
      h1 {
        color: $primary;
        border-bottom: $primary 2px solid;
        font-size: 2rem;
        text-shadow: -3px -1px 16px $primary;
      }
      
      p {
        line-height: 1.5;
        text-align: center;
        font-size: 1.3rem;
      }
    }
    
  }
}


#projects {
  z-index: 1;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./svg/stacked-waves-haikei.svg");
  padding: 4rem;
  color: white;
  box-shadow: $primary 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

  #project-title {
    color: $primary;
    border-bottom: $primary 2px solid;
    font-size: 2rem;
    text-shadow: -3px -1px 16px $primary;
  }
  
  #project-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    #project-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      padding: 2rem;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      cursor: pointer;
      
    .project-section {
      width: 200px;
      height: 200px;
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      position: relative;
      transition: 450ms;
      overflow: hidden;

      
      &:hover {
        width: 220px;
        height: 220px;
        
        .projectIcon {
          position: absolute;
          left: 50px;
          top: 50px;
        }

      }
        
    }

      .projectIcon {
        transition: 450ms;
        position: absolute;
        left: 50px;
        top: 100px;
      }
      
      .project-section:nth-of-type(1){
        background: rgb(2,0,36);
        background: linear-gradient(170deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 54%, rgba(0,212,255,1) 100%); 
        box-shadow: rgba(9,9,121,1) 0px 20px 30px -10px;
        color: white;
      }
      
      .project-section:nth-of-type(2){
        background: rgb(131,58,180);
        background: linear-gradient(174deg, rgba(131,58,180,1) 0%, rgba(255,34,34,1) 50%, rgba(252,176,69,1) 100%); 
        box-shadow: rgba(255,34,34,1) 0px 20px 30px -10px;
      }

      
      .project-section:nth-of-type(3){
        box-shadow: rgba(152,150,241,1) 0px 20px 30px -10px;
        background: rgb(142,246,228);
        background: linear-gradient(174deg, rgba(142,246,228,1) 0%, rgba(152,150,241,1) 50%, rgba(213,155,246,1) 100%); 
        color: white;
        position: relative;


      }
      
      
    }
  }
}


footer {
  position: absolute;
  width: 95%;
  padding: 1rem;
  min-height: 100px;
  display: grid;
  justify-content: left;
  place-items: center;
  border-top: #003a67 2px solid;
  margin-top: 2rem;
  height: 100px;

  div {
    display: flex;
  }
}

// CONTACT PAGE STYLES

#contact-container {
  max-width: 100%;
  max-height: 700px;
  // background-color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;

  h1 {
    text-align: left;
    color: white;
  }
  
  
  #form-container {
    background-color: #123;
    height: 500px;
    width: 600px;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    #contact-form {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 1.5rem;

      .contact-component {
        label {
          color: white;
        }

        #contact-message {
          height: 100px;
          width: 100%;
        }
        
        //text boxes
        input {
          height: 30px;
          width: 100%;
        }

        button {
          height: 30px;
          padding: 0.5rem;
          width: 200px;
          background-color: $primary;
          color: white;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: 250ms;
          
          &:hover {
            background-color: #222;
          }
        }
        
      }

    }
    
  }
}







@media (max-width: 992px) {
  // NAVBAR RESPONSIVENESS
  // * When width shifts into position the nav backgroundw will become transparent
  
  #navbar {
    justify-content: space-between;
    background-color: rgb(0, 18, 32, 0.9);

    h2 {
      font-size: 2rem;
    }

    #nav-list {
      display: none;
    }

    #mobile-nav-btn {
      display: block;
    }
  }

  //HERO RESPONSIVENESS

  #hero {
    .hero-item:nth-child(1) {
      max-width: 500px;
      text-align: center;
      z-index: 2;
      // margin-bottom: 20%;
      // margin-top: 15%;
      // white-space: nowrap;
      margin-inline: 0%;
    }

    #contact-btn {
      margin: 0 auto;
      align-self: center;
    }

    
  }

  // ABOUT RESPONSIVENESS

  #about {
    // background-image: url('svg/mobileAboutBG.svg');

    #about-flex-wrapper {
      width: 90vw;
      // margin-top: 55%
      flex-direction: column;
      
      .skills {
        .section-header {
          color: $accent;
          text-align: center;
          // font-size: 1rem;
          color: white;
        }
        #group-buttons {
          button {
            background-color: $primary;

            &:hover {
              background-color: $primaryPurple;
            }
          }
        }
        
      }

      .skills:nth-of-type(2){
        div {
          p {
            color: rgb(0, 225, 255);
          }
        }
      }

      .about-item:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        h1 {
          font-size: max(1.4rem, 2.5rem);
          font-weight: bolder;
          text-align: center;
        }

        p {
          text-align: center;
          font-size: 1.2rem;
        }

        font-size: clamp(1rem, 1.5rem, 2.5rem);
      }
    }
  }

  // PROJECT RESPONSIVENESS

  #projects {
    #project-wrapper {
      flex-direction: column;
    }

  }

  // footer responsiveness

  
}

@media (max-width: 500px) {
  #projects{
    #project-wrapper {
      #project-grid-container {
        grid-template-columns: 1fr;
        padding: 4rem;
      }
    }
  }
  #about {
    #about-flex-wrapper {
      .skills {
        .skills-wrapper {
          .skills-img {
            height: 1.2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #projects{
    #project-wrapper {
      #project-grid-container {
        grid-template-columns: 1fr, 1fr;
        padding: 4rem;
      }
    }
  }

  #about {
    #about-flex-wrapper {
      .skills {
        .skills-wrapper {
          .skills-img {
            height: 1.5rem;
          }
        }
      }
    }
  }
}
