* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

i {
  pointer-events: none;
}

body {
  background-color: #252525;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.social-media {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  background-color: transparent !important;
  color: #c62368;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
.social-media:hover {
  color: #abc1ff;
}

#navbar {
  font-size: 0.9rem;
  color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1.5rem;
  gap: 3rem;
  transition: 250ms;
  animation-name: lockInPlace;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
#navbar h2 {
  font-size: 1.8rem;
  text-shadow: -3px -1px 16px #c62368;
}
#navbar #nav-list {
  display: flex;
  align-items: center;
  background-color: #c62368;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#navbar #nav-list li {
  display: inline;
  color: #c41d1d;
  margin-inline: 1.2rem;
}
#navbar #nav-list li a {
  text-decoration: none;
  color: white;
  transition: 250ms;
}
#navbar #nav-list li a:hover {
  color: #001220;
}
#navbar #mobile-nav-btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2.9rem;
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  color: yellow;
  display: none;
  transition: 250ms;
}
#navbar #mobile-nav-btn:hover {
  color: #566bf2;
}

#mobile-nav-menu {
  height: 100vh;
  overflow: hidden;
  background-color: #333;
  font-size: 2rem;
  top: 100px;
  z-index: 4;
  position: absolute;
  transition: 250ms;
  width: 0%;
}
#mobile-nav-menu ul li {
  color: #c62368;
  list-style-type: none;
  padding: 1.5rem;
}
#mobile-nav-menu ul li h2 {
  color: #c62368;
}
#mobile-nav-menu ul li a {
  color: white;
  text-decoration: none;
}
#mobile-nav-menu ul li a:hover {
  color: #abc1ff;
}

#mobile-nav-exit {
  display: none;
  height: 50px;
  width: 50px;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  color: #c62368;
  cursor: pointer;
  transition: 250ms;
}
#mobile-nav-exit:hover {
  color: #566bf2;
}

.activate {
  width: 100%;
}

#hero {
  display: flex;
  justify-content: center;
  gap: 1rem;
  min-height: 80vh;
  color: white;
  background-color: #252525;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#hero .hero-item:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 1.5rem;
  align-items: start;
  padding: 2rem;
  margin-inline: 2rem;
}
#hero .hero-item:nth-of-type(1) .designAspect {
  pointer-events: none;
  z-index: 0;
}
#hero .hero-item:nth-of-type(1) .designAspect:nth-of-type(1) {
  position: absolute;
  opacity: 0.5;
  left: 0;
  top: 10%;
  animation-name: breathe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
#hero .hero-item:nth-of-type(1) .designAspect:nth-of-type(1) img {
  height: 100px;
}
#hero .hero-item:nth-of-type(1) .designAspect:nth-of-type(2) {
  position: absolute;
  opacity: 0.5;
  left: 0;
  bottom: 10%;
  transition: 150ms;
  animation-name: breathe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
#hero .hero-item:nth-of-type(1) .designAspect:nth-of-type(2) img {
  height: 100px;
  transform: rotate(90deg);
}
@keyframes breathe {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-15%);
  }
}
#hero .hero-item:nth-of-type(1) h1#showcase {
  color: #c62368;
  text-shadow: -3px -1px 16px #c62368;
  font-weight: bolder;
  animation-name: lockInPlace;
  animation-duration: 1s;
  z-index: 100;
}
#hero .hero-item:nth-of-type(1) h1#showcase span {
  text-shadow: none;
}
#hero .hero-item:nth-of-type(1) h4 {
  color: #c62368;
  letter-spacing: 3px;
  animation-name: lockInPlace;
  animation-duration: 1s;
}
#hero .hero-item:nth-of-type(1) #showcase-desc {
  animation-name: lockInPlace;
  animation-duration: 1s;
  z-index: 100;
}
@keyframes lockInPlace {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#hero .hero-item:nth-of-type(1) #contact-btn {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  transition: 150ms;
  cursor: pointer;
  height: 50px;
  background: #c62368;
}
#hero .hero-item:nth-of-type(1) #contact-btn a {
  text-decoration: none;
  color: white;
}
#hero .hero-item:nth-of-type(1) #contact-btn:hover {
  background-color: #001220;
  transform: translateY(-5px);
}
#hero .hero-item:nth-of-type(1) #stat-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  z-index: 3;
}
#hero .hero-item:nth-of-type(1) #stat-container #hero-github, #hero .hero-item:nth-of-type(1) #stat-container #hero-linkedin {
  cursor: pointer;
  background-color: #c62368;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background: rgb(198, 35, 104);
  transition: 250ms;
  font-size: 2rem;
  color: white;
}
#hero .hero-item:nth-of-type(1) #stat-container #hero-github:hover, #hero .hero-item:nth-of-type(1) #stat-container #hero-linkedin:hover {
  background-color: #001220;
  transform: translateY(-5px);
  color: white;
}
#hero .hero-item:nth-of-type(2) {
  align-self: center;
  opacity: 0.7;
  border: 2px solid #c62368;
  background-color: #c62368;
  padding: 0.5rem;
  border-radius: 0.7rem;
  position: relative;
}
#hero .hero-item:nth-of-type(2) .designAspect:nth-of-type(1) {
  position: absolute;
  z-index: 0;
  left: -10%;
  top: -15%;
}
#hero .hero-item:nth-of-type(2) .designAspect:nth-of-type(1) img {
  height: 100px;
  opacity: 0.7;
}
#hero .hero-item:nth-of-type(2) .shadow {
  position: relative;
}
#hero .hero-item:nth-of-type(2) .shadow img {
  border: 2px solid #c62368;
  border-radius: 0.7rem;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
  z-index: 100;
}

#about {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(198, 35, 104);
  background: linear-gradient(139deg, rgb(198, 35, 104) 36%, rgb(86, 107, 242) 100%);
  padding: 2rem;
}
#about #about-flex-wrapper {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
  width: 85vw;
  color: white;
}
#about #about-flex-wrapper .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  width: 100%;
}
#about #about-flex-wrapper .skills .section-header {
  color: white;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
#about #about-flex-wrapper .skills .skillsTitle {
  align-self: start;
}
#about #about-flex-wrapper .skills .skills-wrapper {
  gap: 0.5rem;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}
#about #about-flex-wrapper .skills .skills-wrapper .ITSkills {
  background-color: rgb(109, 64, 224);
}
#about #about-flex-wrapper .skills .skills-wrapper span {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #566bf2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 150ms;
  white-space: nowrap;
}
#about #about-flex-wrapper .skills #group-buttons button {
  color: white;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #c62368;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
#about #about-flex-wrapper .skills #group-buttons button:hover {
  background-color: #001220;
  color: #c62368;
}
#about #about-flex-wrapper .skills #group-buttons button a {
  text-decoration: none;
  color: white;
}
#about #about-flex-wrapper .skills:nth-of-type(2) #aboutMeText {
  line-height: 1.5;
  text-align: center;
  max-width: 600px;
}

#projects {
  z-index: 1;
  color: white;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
#projects .project-section-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 2rem;
  width: 80%;
  max-width: 100%;
  box-sizing: border-box;
}
#projects .project-section-container #projectContainer2 .project-information {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#projects .project-section-container #projectContainer2 .project-information h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#projects .project-section-container #projectContainer2 .project-information h3 {
  margin: 1rem;
  color: #c62368;
  letter-spacing: 3px;
}
#projects .project-section-container #projectContainer2 .project-information p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
#projects .project-section-container #projectContainer2 .project-information .techUsed-Header {
  color: #c62368;
  margin-bottom: 1rem;
}
#projects .project-section-container #projectContainer2 .project-information .techUsed {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
  max-width: 100%;
}
#projects .project-section-container #projectContainer2 .project-information .techUsed span {
  padding: 0.7rem;
  border-radius: 1rem;
  background-color: #c62368;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 150ms;
  white-space: nowrap;
}
#projects .project-section-container #projectContainer2 .project-information .see-ProjectBtns {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
#projects .project-section-container #projectContainer2 .project-information .see-ProjectBtns button {
  color: white;
  background-color: #c41d1d;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(170, 170, 170, 0.2) 0px 7px 29px 0px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 150ms;
  min-width: 120px;
}
#projects .project-section-container #projectContainer2 .project-information .see-ProjectBtns button:hover {
  background-color: rgb(121, 49, 49);
  transform: translateY(-5px);
}
#projects .project-section-container #projectContainer1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
#projects .project-section-container #projectContainer1 .projectPortrait {
  height: auto;
  max-height: 500px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 992px) {
  #navbar {
    justify-content: end;
  }
  #navbar h2 {
    font-size: 2rem;
  }
  #navbar #nav-list {
    display: none;
  }
  #navbar #mobile-nav-btn {
    display: block;
  }
  #hero {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5rem;
    margin-top: 7rem;
    padding: 2rem;
  }
  #hero .hero-item:nth-of-type(1) {
    max-width: 100%;
    z-index: 2;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  #hero .hero-item:nth-of-type(2) {
    display: none;
  }
  #hero .hero-item:nth-of-type(2) .shadow img {
    left: 0;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about {
    height: auto;
  }
  #about #about-flex-wrapper {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-size: 0.8rem;
  }
  #about #about-flex-wrapper .skills .section-header {
    color: #abc1ff;
    text-align: center;
    color: white;
  }
  #about #about-flex-wrapper .skills #group-buttons button {
    background-color: #c62368;
  }
  #about #about-flex-wrapper .skills #group-buttons button:hover {
    background-color: #1d0a23;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) p {
    text-align: center;
    font-size: 1.2rem;
  }
  #projects {
    margin-top: 4rem;
    width: 100%;
  }
  #projects .project-section-container {
    flex-direction: column;
    padding: 0;
    width: 95%;
  }
  #projects .project-section-container .projectPortrait {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
    border-radius: 0.7rem;
    border: 2px solid #c62368;
    width: 100%;
  }
  #projects .project-section-container .project-information {
    padding-inline: 0rem;
    justify-content: center;
  }
  #projects .project-section-container .project-information h1 {
    justify-content: center;
  }
  #projects .project-section-container .project-information h3 {
    text-align: center;
  }
  #projects .project-section-container .project-information p {
    text-align: center;
  }
  #projects .project-section-container .project-information .techUsed-Header {
    text-align: center;
  }
  #projects .project-section-container .project-information .techUsed {
    justify-content: center;
  }
  .see-ProjectBtns {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  #about #about-flex-wrapper .skills #aboutMeText {
    font-size: 1.7;
  }
  #about #about-flex-wrapper .skills .skills-wrapper .skills-img {
    height: 1.2rem;
  }
  #hero .hero-item:nth-child(1) #stat-container {
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    padding: 0rem;
  }
  #hero .hero-item:nth-child(1) #stat-container img {
    display: none;
  }
  #hero .hero-item:nth-child(1) #stat-container #contact-btn {
    margin: 0;
    font-size: 1rem;
  }
}
@media (max-width: 640px) {
  #projects #project-wrapper #project-grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
  }
  #about #about-flex-wrapper .skills .skills-wrapper .skills-img {
    height: 1.5rem;
  }
  #skills:nth-of-type(2) #aboutMeText {
    line-height: 1.5;
    text-align: center;
    font-size: 0.7rem;
    max-width: 600px;
  }
}/*# sourceMappingURL=styles.css.map */