* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

img {
  max-width: 100%;
  height: auto;
}

i {
  pointer-events: none;
}

body {
  background-color: #001220;
}

.social-media {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  background-color: transparent !important;
  color: #C62368;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
.social-media:hover {
  color: #abc1ff;
}

#navbar {
  font-size: 1.2rem;
  color: #C62368;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: black 0px 20px 30px -10px;
  gap: 3rem;
  background-color: #001220;
}
#navbar h2 {
  font-family: "Dancing Script";
}
#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul li {
  display: inline;
  font-size: 1.2rem;
  color: #c41d1d;
  margin-inline: 1.2rem;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  transition: 250ms;
}
#navbar ul li a:hover {
  color: #abc1ff;
}
#navbar #mobile-nav-btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2.9rem;
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  color: #C62368;
  display: none;
  transition: 250ms;
}
#navbar #mobile-nav-btn:hover {
  color: #566bf2;
}

#mobile-nav-menu {
  height: 100vh;
  overflow: hidden;
  background-color: #001220;
  font-size: 2rem;
  top: 100px;
  z-index: 4;
  position: absolute;
  transition: 250ms;
  width: 0%;
}
#mobile-nav-menu ul li {
  color: yellow;
  list-style-type: none;
  padding: 1.5rem;
}
#mobile-nav-menu ul li h2 {
  color: #C62368;
}
#mobile-nav-menu ul li a {
  color: white;
  text-decoration: none;
}
#mobile-nav-menu ul li a:hover {
  color: #abc1ff;
}

#mobile-nav-exit {
  display: none;
  height: 50px;
  width: 50px;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  color: #C62368;
  cursor: pointer;
  transition: 250ms;
}
#mobile-nav-exit:hover {
  color: #566bf2;
}

.activate {
  width: 100%;
}

#hero {
  display: flex;
  justify-content: space-around;
  min-height: 500px;
  gap: 5%;
  color: white;
  margin-top: 1%;
  padding: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("svg/heroBG2.svg");
}
#hero .hero-item:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
  margin-inline: 2rem;
}
#hero .hero-item:nth-of-type(1) h1#showcase {
  font-family: "Dancing Script";
  color: #C62368;
  font-size: 5rem;
  text-shadow: -3px -1px 16px #C62368;
}
#hero .hero-item:nth-of-type(1) #contact-btn {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  transition: 250ms;
  cursor: pointer;
  height: 50px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #566bf2;
}
#hero .hero-item:nth-of-type(1) #contact-btn a {
  text-decoration: none;
  color: white;
}
#hero .hero-item:nth-of-type(1) #contact-btn:hover {
  background-color: #abc1ff;
}
#hero .hero-item:nth-of-type(1) #stat-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
#hero .hero-item:nth-of-type(1) #stat-container img {
  height: 50px;
  cursor: pointer;
  background-color: #C62368;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background: rgb(198, 35, 104);
}
#hero .hero-item:nth-of-type(2) {
  align-self: center;
}
#hero .hero-item:nth-of-type(2) img {
  width: 300px;
}

#hero-img {
  min-height: 500px;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15% 35%;
  border: 5px solid #C62368;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#about {
  z-index: 3;
  aspect-ratio: 960/300;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("svg/aboutBG.svg");
  padding: 2rem;
}
#about #about-flex-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70vw;
  gap: 5rem;
  color: white;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article {
  height: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article .skills-image:nth-of-type(1) {
  background: rgb(198, 35, 104);
  background: rgb(198, 35, 104);
  background: linear-gradient(293deg, rgb(198, 35, 104) 53%, rgb(0, 58, 103) 100%);
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article .skills-image:nth-of-type(2) {
  background: rgb(198, 35, 104);
  background: linear-gradient(81deg, rgb(198, 35, 104) 53%, rgb(0, 58, 103) 100%);
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article .skills-image:nth-of-type(3) {
  background: rgb(198, 35, 104);
  background: linear-gradient(205deg, rgb(198, 35, 104) 53%, rgb(0, 58, 103) 100%);
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article .skills-image {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: linear-gradient(208deg, rgb(0, 58, 103) 53%, rgb(198, 35, 104) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 0.5rem;
  padding: 1rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article .skills-image .skills-container {
  text-align: center;
  padding: 0.5rem;
}
#about #about-flex-wrapper .about-item:nth-of-type(1) article .skills-image img {
  max-width: 100%;
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}
#about #about-flex-wrapper .about-item:nth-of-type(2) h1 {
  font-size: 2.8rem;
  font-family: "Dancing Script";
  color: #C62368;
  text-shadow: -3px -1px 16px #C62368;
}

.section-header {
  color: #abc1ff;
  font-size: 1.5rem;
}

#projects {
  z-index: 2;
  aspect-ratio: 960/500;
  width: 100vw;
  min-height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./svg/project.svg");
  padding: 2rem;
  color: white;
  z-index: 3;
  padding-top: 300px;
}
#projects #project-flex-wrapper {
  width: 70vw;
  margin: 0 auto;
}
#projects #project-flex-wrapper .project-header {
  color: #abc1ff;
  font-size: 1.5rem;
}
#projects #project-flex-wrapper #project-showcase-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
#projects #project-flex-wrapper #project-showcase-container .project-section:nth-of-type(1) {
  background: rgb(198, 35, 104);
  background: linear-gradient(305deg, rgb(198, 35, 104) 12%, rgb(0, 58, 103) 100%);
}
#projects #project-flex-wrapper #project-showcase-container .project-section:nth-of-type(2) {
  background: rgb(198, 35, 104);
  background: linear-gradient(322deg, rgb(198, 35, 104) 0%, rgb(0, 58, 103) 100%);
}
#projects #project-flex-wrapper #project-showcase-container .project-section:nth-of-type(3) {
  background: rgb(198, 35, 104);
  background: linear-gradient(126deg, rgb(198, 35, 104) 0%, rgb(0, 58, 103) 100%);
}
#projects #project-flex-wrapper #project-showcase-container .project-section {
  max-width: 1200px;
  min-height: 300px;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#projects #project-flex-wrapper #project-showcase-container .project-section img {
  max-width: 100%;
  border-radius: 1rem;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information {
  max-width: 400px;
  text-align: center;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information h3 {
  color: #abc1ff;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information p {
  color: white;
  padding: 1rem;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information .project-notes {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  max-width: 100%;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information .project-notes .tools-used {
  background-color: #566bf2;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information .project-notes .tools-used:nth-of-type(3) {
  background-color: #C62368;
  transition: 250ms;
  cursor: pointer;
}
#projects #project-flex-wrapper #project-showcase-container .project-section .project-information .project-notes .tools-used:nth-of-type(3):hover {
  background-color: #003a67;
}

@media (max-width: 992px) {
  #navbar {
    justify-content: space-between;
  }
  #navbar h3 {
    font-size: 1.5rem;
  }
  #navbar #nav-list {
    display: none;
  }
  #navbar #mobile-nav-btn {
    display: block;
  }
  #hero .hero-item:nth-child(1) {
    max-width: 500px;
    text-align: center;
    z-index: 2;
    margin-bottom: 20%;
    margin-top: 15%;
    margin-inline: 0%;
  }
  #hero #contact-btn {
    margin: 0 auto;
    align-self: center;
  }
  #hero .hero-item:nth-child(2) {
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    max-width: 100%;
  }
  #hero .hero-item:nth-child(2) img {
    width: 400px;
  }
  #about #about-flex-wrapper {
    width: 90vw;
    margin-top: 55%;
  }
  #about #about-flex-wrapper .section-header {
    color: #abc1ff;
    text-align: center;
    font-size: 2rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  #about #about-flex-wrapper .about-item:nth-of-type(2) p {
    text-align: center;
    font-size: 1.2rem;
  }
  #projects #project-flex-wrapper .project-header {
    text-align: center;
    color: #abc1ff;
    font-size: 2rem;
  }
  #projects #project-showcase-container .project-section {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  .about-item:nth-of-type(1) article .skills-image {
    flex-direction: column;
  }
  #projects #project-flex-wrapper .project-header {
    text-align: center;
  }
  #projects #project-showcase-container .project-section {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */